* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
/* body {
  background: #1b1b1b;
} */

.dark {
  background: #1b1b1b;
}

.light {
  background: #fff;
}
.btn-container {
  height: 10vh;
  display: flex;
  justify-content: end;
  /* background: #1b1b1b; */
}

.btn {
  padding: 0px 20px;
  margin: 15px 0px;
  border: none;
  cursor: pointer;
  font-family: sans-serif;
}

.btndark {
  background-color: #292929;
  color: #e2e2e2;
}

.btnlight {
  background-color: #e2e2e2;
  color: #000;
}
.cal-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.calculator {
  position: relative;
  display: grid;
}
.calculator .value {
  grid-column: span 4;
  border: none;
  outline: none;
  padding: 10px;
  text-align: right;
  font-size: 18px;
  height: 70px;
  background-color: #e2e2e2;
  color: #000;
}

.calculator span {
  display: grid;
  width: 60px;
  height: 60px;
  place-items: center;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background: #292929;
  color: #fff;
}

.calculator span.clear {
  grid-column: span 2;
  width: 120px;
  background: rgb(255, 163, 26);
}

.calculator span:active {
  background: rgb(255, 163, 26);
}

.calculator span.plus {
  grid-row: span 2;
  height: 120px;
}

.calculator span.equal {
  background: rgb(255, 163, 26);
}
